.transfer {
    --sds-c-card-color-background: rgb(243, 73, 73);
}
 
.callback{
    --sds-c-card-color-background: #f4f44b;
}

.inbound{
    --sds-c-card-color-background: rgb(63, 187, 63);
}

.outbound{
    --sds-c-card-color-background: rgb(98, 150, 255);
}
